<h1>HII YOU ARE LOGINED</h1>

<form class="form-inline my-2 my-lg-0" style="position: relative;" action="/logout"><br><br><br>
    <button class="btn btn-outline-success my-2 my-sm-0" style="position:relative;" type="submit" >logout</button>
  </form>